services:
  database:
    container_name: product_db
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - '5433:5432'
    volumes:
      - database:/var/lib/postgresql/data
volumes:
  database: {}